{% extends "base.html" %}
{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
    <br>
    <p></p>
    <div class="container">
        <div class="row clearfix">
            <div class="jumbotron">
				<h1>
					{{ article.title }}
				</h1>
				<p>
					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				</p>
				<p>
					 <a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
		    <div class="col-md-12 column">
                <div class="row text-center vertical-middle-sm">
                <h1>{{ article.title }}</h1>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <p class="center">
                            <span>{{ article.author.username }}</span>
                            <span style="margin-left: 20px">{{ publish }}</span>
                        </p>
                        <div>{{ article.body }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}