<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>
        {% block title %} {% endblock %}
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!--     <script src="http://code.highcharts.com/maps/modules/map.js"></script>
    <script src="http://code.highcharts.com/maps/modules/data.js"></script>
    <script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/228/zroo4bdf/cn-china-by-peng8.js"></script> -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body>

<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">

            {# Intro-介绍栏 #}
      <div class="jumbotron">
        <h1>
          IT工程师及需求预测平台
        </h1>
        <p>
          获取IT市场需求, 了解热门技术趋势.
        </p>
                <P>
                    快速查看<a href="#container1">行业工资</a>, <a href="#container2">热门职位</a>, <a href="#container1">工资走向</a>
                    <br>
                    职位数量越多的职位, 平均薪资更具参考性.<br>
                    <a href="#container1">工资走向</a>信息, 请在行业工资图中点击对应职位名称.<br>
                    筛选指定城市数据, 请点击省份, 然后选择城市
                </P>
                <br>
            </div>

            <div class='panel panel-default'>
                <div class='panel-body'>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            {# Navigation Bar - 导航栏 #}
        <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                         <span class="sr-only">Toggle navigation</span>
                         <span class="icon-bar"></span><span class="icon-bar"></span>
                         <span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="#">DGUT</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active">
               <a href="http://127.0.0.1:8000/">首页</a>
            </li>
            <li>
               <a href="#container1">行业工资</a>
            </li>
                        <li>
               <a href="#container2">热门职位</a>
            </li>
                        <li>
               <a href="#salary_table">工资排行</a>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" />
            </div> <button type="submit" class="btn btn-default">搜索</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li>
               <a href="/admin">管理</a>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">开发中<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <li>
                   <a href="#">Action</a>
                </li>
                <li>
                   <a href="#">Another action</a>
                </li>
                <li>
                   <a href="#">Something else here</a>
                </li>
                <li class="divider">
                </li>
                <li>
                   <a href="#">退出</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

      </nav>
      </div>
    </div>
</div>
{% block js %}
{% endblock %}
  </body>

</html>
