{% extends "base.html" %}
{% block title %}
Password Reset
{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>Enter New Password</h1>
    <p>We have emailed your already, please check your Email box soon.</p>

    <form action="." method="post" name="Register_Form" class="form-horizontal">
        {% csrf_token %}
        <hr class="colorgraph"><br>
        <h3 class="form-signin-heading">Change Password | FesonX's Blog</h3>
        <div class="form-group">
            <label class="col-md-5 control-label text-right">
                {{ form.new_password1.label_tag }}
            </label>
            <div class="col-md-6 text-left">{{ form.new_password1 }}</div>
        </div>
        <div class="form-group">
            <label class="col-md-5 control-label text-right">
                {{ form.new_password2.label_tag }}
            </label>
            <div class="col-md-6 text-left">{{ form.new_password2 }}</div>
        </div>
        <button class="btn btn-lg btn-primary"  name="Submit" value="Reset" type="submit">Reset</button>
    </form>
</div>
{% endblock %}