{% extends "base.html" %}
{% block title %}
Password Change
{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>Change Password</h1>

{% if form.new_password1.help_text %}
    <div class="text-left" style="margin-left: 400px">
    <p>{{ form.new_password1.help_text|safe }}</p>
    </div>
{% endif %}
<form action="." method="post" name="Register_Form" class="form-horizontal">
    {% csrf_token %}
    <hr class="colorgraph"><br>
    <h3 class="form-signin-heading">Change Password | FesonX's Blog</h3>
    <div class="form-group">
        <label class="col-md-5 control-label text-right">
            {{ form.old_password.label_tag }}
        </label>
        <div class="col-md-6 text-left">{{ form.old_password }}</div>
    </div>
    <div class="form-group">
        <label class="col-md-5 control-label text-right">
            {{ form.new_password1.label_tag }}
        </label>
        <div class="col-md-6 text-left">{{ form.new_password1 }}</div>
    </div>
    <div class="form-group">
        <label class="col-md-5 control-label text-right">
            {{ form.new_password2.label_tag }}
        </label>
        <div class="col-md-6 text-left">{{ form.new_password2 }}</div>
    </div>
    <button class="btn btn-lg btn-primary"  name="Submit" value="Change" type="submit">Change</button>
</form>
</div>
{% endblock %}