{% extends "base.html" %}
{% block title %}
Password Reset
{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>Enter Your Email to Reset Password</h1>
    <form action="." method="post" class="form-horizontal">
        {% csrf_token %}
        <hr class="colorgraph"><br>
        <h3 class="form-signin-heading">Forgot Password | FesonX's Blog</h3>
        <div class="form-group">
            <label class="col-md-5 control-label text-right">
                Email
            </label>
            <div class="col-md-6 text-left">{{ form.email }}</div>
        </div>
        <button class="btn btn-lg btn-primary"  name="Submit" value="Sends" type="submit">Send</button>
    </form>
</div>
{% endblock %}