<div class="bg-info">
    <div class="text-center" style="margin-top: 5px">
        <p class="list-group-item"><a href="{% url 'article:article_column' %}">Column Manage</a> </p>
        <p class="list-group-item"><a href="{% url 'article:article_post' %}">Post Article</a> </p>
        <p class="list-group-item"><a href="{% url 'article:article_list' %}">Article List</a> </p>
        <p class="list-group-item"><a href="{% url 'article:article-tag' %}">Article Tags</a></p>
{#        <p class="list-group-item"><a href="{% url 'image:images_list' %}">Image Manage</a></p>#}
    </div>
</div>